* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.app-background {
    min-height: 100vh;
    background: url('../assets/pexels-veeterzy-38136.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
}